/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color: inherit;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
}


/* ! Text block start */

.text-container {
    width: 50%;
    margin: 30px auto;
    padding: 0 50px;
    text-align: center;
}

/* .text-text {

} */

/* ! Text block end */


/* ! Title block start */

.title-container {
    width: 50%;
    margin: 30px auto;
    padding: 0 50px;
    text-align: center;
}

/*  H1 start */

.h1-title {
    font-size: 24px;
    font-weight: bold;
}

/*  H1 end */

/*  H3 start */

.h3-title {
    font-size: 20px;
    font-weight: bold;
}

/*  H3 end */

/* ! Title block end */



/* ! Login Page */

/* ?Login form */

.login__form {
    width: 23%;
    margin: 0 auto;
    background-color: #f5f2f2;
    padding: 20px;
    border-radius: 10px;
}

.fields {
    margin-bottom: 35px;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 13px;
}


.login__field {
    margin-bottom: 13px;
}    

.text-field__input {
    border: 1px solid #bdb8b8;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
}

/* ?Buttons */

.login__button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bf__bt {
    background-color: #bdb8b8;
    border-radius: 10px;
    padding: 5px 10px;
    transition-property: all;
    transition-duration: .3s;
}

.bf__bt:hover {
    background-color: #c9f5e4;
}

/* ! Login Page */




/* !RezervById Page */

.img_container {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

/* ?Красные цифры на форме */

.field-position1 {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    right: 221px;
    color: #fff;
    font-weight: bold;
}

.field-position2 {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    right: 221px;
    color: #fff;
    font-weight: bold;
}

.field-position3 {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    right: 221px;
    color: #fff;
    font-weight: bold;
}

.field-position__Q {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: rgb(136, 133, 133);
    position: absolute;
    border-radius: 50%;
    top: 5px;
    right: 221px;
    color: #fff;
    cursor: pointer;
}

/* ?Красные цифры на форме */

.date-input {
    display: flex;
    justify-content: space-between;
    width: 60.7%;
    align-items: center;

}

.date-input_field {
    background-color: #fff;
    width: 45%;
    border: 1px solid #bdb8b8;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
}


/* !RezervById Page */


/* ! Rezerv OK Page */

.back_to_home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.back-btn {
    padding: 5px 15px;
    background-color: #9b9898;
    border-radius: 10px;
    transition-property: all;
    transition-duration: .3s;
}

.back-btn:hover {
    background-color: #bdb8b8;
    color: #eeebeb;
}

/* ! Rezerv OK Page */